.bosch-strip {
    width: 100%;
}

#header {
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 1px 1px 10px lightgray;

    .content {
        display: flex;
            
        justify-content: flex-start;
        align-items: center;
    
        gap: 3rem;

        width: 90%;
        margin: 0 auto;
    }


    #links {
    display: flex;
        gap: 1.5rem;   
    }

    a {
        display: block;
        text-decoration: none;

        font-size: 1.2rem;

        color: rgba(0,0,0,0.8);

        &:hover {
            color : #269b87
        }
    }

}

#header::before {
    width: 100%;
    
    height: 0.5rem;
    
    content: '';
    // position: fixed;
    background-image: url('../../assets/Horizontal_0.5rem.svg');
}

